@page
@model SBoxManager.Pages.odo.historiales.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PacienteHistorial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Motivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Motivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Antecedentes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Antecedentes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.FechaUltimaConsulta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.FechaUltimaConsulta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.DetalleUltimaConsulta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.DetalleUltimaConsulta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.ProblemasAnteriores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.ProblemasAnteriores)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Tratamiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Tratamiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Cirugia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Cirugia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.MotivoCirugia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.MotivoCirugia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Medico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Medico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.PresionArterial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.PresionArterial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.RenalesGenitales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.RenalesGenitales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Gastrointestinales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Gastrointestinales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Hepaticos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Hepaticos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Pulmonales)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Pulmonales)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.DiabetesMellitus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.DiabetesMellitus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.FiebreReumatica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.FiebreReumatica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Sanguineos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Sanguineos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Alergicos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Alergicos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.ConsumeMedic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.ConsumeMedic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.VihSida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.VihSida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Venereas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Venereas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Fuma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Fuma)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.ConsumAlcohol)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.ConsumAlcohol)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Penicilina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Penicilina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Aspirina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Aspirina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.ProbAnestesia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.ProbAnestesia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Habitos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Habitos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Embarazada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Embarazada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PacienteHistorial.Paciente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PacienteHistorial.Paciente.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PacienteHistorial.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
